{{log this}}
<fieldset class="auto-expire-5e">
    <legend>{{localize "AUTO-EXPIRE-5E.titleShort"}}</legend>
    <div class="form-group stacked expiration-triggers">
        <label>{{localize fields.triggers.field.label}}</label>
        {{#each fields.triggers.innerFields}}
        <label class="checkbox">
            {{formInput field value=value name=path}}
            {{localize field.label}}
        </label>
        {{/each}}
        <p class="hint">{{localize fields.triggers.field.hint}}</p>
    </div>
</fieldset>